body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #d8cec2, #d9f005);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


h1 {
  color: #333;
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  max-width: 400px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li .todo-text {
  flex: 1;
  margin-right: 10px;
  word-wrap: break-word;
}

li button {
  background-color: #dc3545;
  font-size: 14px;
}

li button:hover {
  background-color: #c82333;
}

.edit-container {
  margin-top: 20px;
}

.edit-container input[type='text'] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  max-width: 400px;
  font-size: 16px;
}

.edit-container button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-container button:hover {
  background-color: #218838;
}


